.dashboard-alerts
  .alert
    i.fas.fa-times-circle
    .alert-picture
      i.fas.fa-heart
    .alert-info 
      h4.alert-title Alert Title
      .alert-message Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia corrupti et consequatur beatae asperiores vitae, perferendis dignissimos animi repellendus, id commodi esse harum corporis aliquam magnam voluptatum quisquam voluptates ut aut itaque? Iste autem quidem asperiores itaque rem sint.
  .alert
    i.fas.fa-times-circle
    .alert-picture
      i.fas.fa-heart
    .alert-info 
      h4.alert-title Alert Title
      .alert-message Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia corrupti et consequatur beatae asperiores vitae, perferendis dignissimos animi repellendus, id commodi esse harum corporis aliquam magnam voluptatum quisquam voluptates ut aut itaque? Iste autem quidem asperiores itaque rem sint.
  .alert
    i.fas.fa-times-circle
    .alert-picture
      i.fas.fa-heart
    .alert-info 
      h4.alert-title Alert Title
      .alert-message Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia corrupti et consequatur beatae asperiores vitae, perferendis dignissimos animi repellendus, id commodi esse harum corporis aliquam magnam voluptatum quisquam voluptates ut aut itaque? Iste autem quidem asperiores itaque rem sint.
  .alert
    i.fas.fa-times-circle
    .alert-picture
      i.fas.fa-heart
    .alert-info 
      h4.alert-title Alert Title
      .alert-message Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia corrupti et consequatur beatae asperiores vitae, perferendis dignissimos animi repellendus, id commodi esse harum corporis aliquam magnam voluptatum quisquam voluptates ut aut itaque? Iste autem quidem asperiores itaque rem sint.
