.slider 
  section.slide--social-media
    h1 Join our growing community on social media and stay connected!
    .social-links
      a(href="" target="blank")
        i.fab.fa-facebook
      a(href="" target="blank") 
        i.fab.fa-instagram
  section 
    h1 Don't miss out on this special offer!
    span from March 1 - March 15, pay $0 in commmission fees for your first 25 jobs!
  section 
    h1 uPlow rated the #1 startup in 'The Pine-APP-le Express'
    a(href="https://floridaman.com/naked-florida-man-drinks-2-liters-of-vodka-burns-down-house-baking-cookies-on-george-foreman-grill/" target="blank")  see the article here...
.controls
  .arrow.prev <i class="fas fa-arrow-circle-left"></i>
  .arrow.next <i class="fas fa-arrow-circle-right"></i>
  ul 
    li.selected
    li 
    li 