.dashboard-main
  .grid
    a.btn1.grid-item.grid-begin-work(href='#')
      i.fas.fa-snowplow
      div
        h1 Begin Work!
      i.fas.fa-snowplow
    
    a.btn1.grid-item.grid-messages(href='/dashboard-messages')
      i.fas.fa-comments
      div
        h3 Messages
        span 5 unread messages
    a.btn1.grid-item.grid-alerts(href='/dashboard-alerts')
      i.fas.fa-exclamation-triangle 
      div
        h3 Alerts
        span 2 unread alerts
    
    a.btn1.grid-item.grid-jobs(href='/dashboard-jobs')
      i.fas.fa-snowplow
      div
        h3 Locations
        span manage your dedicated locations
    a.btn1.grid-item.grid-find(href='/dashboard-find')
      i.fas.fa-search-location
      div
        h3 Find Work
        span 7 new jobs in your area
        
    a.btn1.grid-item.grid-routes(href='/dashboard-routes')
      i.fas.fa-map-marked
      div
        h3 Routes
        span manage your routes and prioritize locations
    a.btn1.grid-item.grid-payments(href='/dashboard-payments')
      i.fas.fa-receipt
      div 
        h3 Payments
        span 2 new receipts
        
    a.btn1.grid-item.grid-weather(href='/dashboard-weather')
      i.fas.fa-cloud-showers-heavy
      div 
        h3 Weather
        span inclement weather incoming
    a.btn1.grid-item.grid-account(href='/dashboard-account')
      i.fas.fa-user-circle
      div 
        h3 Account Info
        span your account is only 78% complete
  
    a.btn1.grid-item.grid-settings(href='/dashboard-settings')
      i.fas.fa-tools
      div 
        h3 App Settings
        span Update your account settings here
