block prepend head
  //- script(src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js')
  //- link(href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet')

.dashboard-find
  #map.map(data-locations=`${JSON.stringify(locations)}`)
  include _mapItem