//- ANCHOR NAVBAR
section.section-navbar
  .container
    // content
    nav.navbar.content
      .nav-logo.element
        i.fas.fa-snowplow.company-logo.sub-element
        h3.company-title.sub-element uPlow
      .nav-links.element
        a.sub-element(href='#') Features
        a.sub-element(href='#') Get Started
        a.sub-element(href='#') About Us
        a.sub-element(href='#') Contact