//- ANCHOR NAVBAR
section.navbar-section
  .container
    // content
    nav.navbar.lvl1
      a.nav-logo(href="/")
        i.fas.fa-snowplow
        h3 uPlow
      .nav-links
        if homePage === true
          a.btn1(href='/#features') 
            h4 Features
          a.btn1(href='/#getStarted') 
            h4 Get Started
          a.btn1(href='#') 
            h4 About Us
          a.btn1(href='#') 
            h4 Contact
        else if homePage === false
          a.btn1(href='/guide') 
            h4 Guide
          a.btn1(href='/support') 
            h4 Support
          a.btn1(href='/dashboard') 
            h4 Dashboard
          a.btn1.logout-btn 
            h4 logout