.map-item
    .top
      //- a(href='/img/coverImages/home1.jpeg')
      img(src='https://picsum.photos/300/200')
      .meta-info
        h1 Location Name
        div
          i.fas.fa-snowflake
          i.fas.fa-snowflake
          i.fas.fa-snowflake
          i.fas.fa-snowflake
          i.fas.fa-snowflake
        .owner-info
          .prof-pic
            img(src='https://picsum.photos/50')
          span Owner Name
    .image-gallery.hidden
      a(href="/img/locations/driveway1.jpg")
        img(src='https://picsum.photos/100')
      a(href="/img/locations/driveway2.jpg")
        img(src='https://picsum.photos/100')
      a(href="/img/locations/driveway3.jpg")
        img(src='https://picsum.photos/100')
      a(href="/img/locations/driveway4.jpg")
        img(src='https://picsum.photos/100')
      a(href="/img/locations/driveway5.jpg")
        img(src='https://picsum.photos/100')
    .notes.hidden
      h2 Instructions and Notes
      ul
        li Please watch out for the dog toys in the driveway 
        li please plow all the way up to the side of the garage
    .actions.hidden
      button.btn3 
          h4 Send Message
      if find === true
        button.btn3 
          h4 Make Offer
      else if jobs === true 
        button.btn3 
          h4 Cancel Job
    button.toggle-expand
      i.fas.fa-chevron-down