doctype html
html(lang='en')
  head
    //- block
    block head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.2/css/all.css' integrity='sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/login.css')
    link(rel='stylesheet' href='/css/signup.css')
    link(rel='stylesheet' href='/css/dashboard.css')
    title #{title}
  body
    //- BACKGROUND
    .bg-circle1
    .bg-circle2

    //- HEADER
    include _header

    //- CONTENT
    block content 

    //- Footer
    include _footer

