extends base

block content
  section.section-dashboard
    .container
        .dashboard.content
          .dashboard-menu
            .menu-account
              //- i.fas.fa-user-circle
              img(src=`/img/users/${user.photo}` alt=`photo of ${user.name}`)
              .account-info
                .account-info--title
                  span= user.name
                h6.account-info--status
                  span= user.status
            .menu-options
              //- button.btn BEGIN PLOWING
              ul 
                li
                  a.show-messages(href='/dashboard-messages')
                    i.fas.fa-comments    
                    p Messages
                li 
                  a.show-alerts(href='/dashboard-alerts')
                    i.fas.fa-exclamation-triangle    
                    p Alerts
                li 
                  a.show-jobs(href='/dashboard-jobs')
                    i.fas.fa-snowplow   
                    p Your Jobs
                li 
                  a.show-routes(href='/dashboard-routes')
                    i.fas.fa-map-marked-alt   
                    p Routes
                li 
                  a.show-find(href='/dashboard-find')
                    i.fas.fa-search-location    
                    p Find Work 
                li  
                  a.show-weather(href='/dashboard-weather')
                    i.fas.fa-cloud-showers-heavy  
                    p Weather
                li 
                  a.show-account(href='/dashboard-account')
                    i.fas.fa-user-circle    
                    p Account
                li 
                  a.show-payments(href='/dashboard-payments')
                    i.fas.fa-receipt    
                    p Payments
                li 
                  a.show-settings(href='/dashboard-settings')
                    i.fas.fa-tools  
                    p Settings
          .dashboard-content
            //- h1.section-title.dashboard-title Title
            //- h3 Dashboard Content Will Go Here
            block dashboard-content
              if messages === true
                include _messages
              else if alerts === true
                include _alerts
              else if jobs === true
                include _jobs
              else if routes === true
                include _routes
              else if find === true
                include _find
              else if weather === true
                include _weather
              else if account === true
                include _account
              else if payments === true
                include _payments
              else if settings === true
                include _settings
              else if dashboard === true
                include _dashboard
                
            




















                
