block dashboard-content
  .dashboard-messages
    .contacts-list
      h3 Contacts
      .contact
        i.fas.fa-user.circle.contact-photo
        .contact-details
          h4.contact-name Paul Ryan
          p.last-message Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .contact
        i.fas.fa-user.circle.contact-photo
        .contact-details
          h4.contact-name Paul Ryan
          p.last-message Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .contact
        i.fas.fa-user.circle.contact-photo
        .contact-details
          h4.contact-name Paul Ryan
          p.last-message Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .contact
        i.fas.fa-user.circle.contact-photo
        .contact-details
          h4.contact-name Paul Ryan
          p.last-message Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .contact
        i.fas.fa-user.circle.contact-photo
        .contact-details
          h4.contact-name Paul Ryan
          p.last-message Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .contact
        i.fas.fa-user.circle.contact-photo
        .contact-details
          h4.contact-name Paul Ryan
          p.last-message Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .contact
        i.fas.fa-user.circle.contact-photo
        .contact-details
          h4.contact-name Paul Ryan
          p.last-message Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .contact
        i.fas.fa-user.circle.contact-photo
        .contact-details
          h4.contact-name Paul Ryan
          p.last-message Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .contact
        i.fas.fa-user.circle.contact-photo
        .contact-details
          h4.contact-name Paul Ryan
          p.last-message Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    .messages
      .message
        .message-pic
          i.fas.fa-user.circle
        .message-text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid officiis natus provident quidem omnis eveniet molestias sit, commodi repellat.
      .message
        .message-pic
          i.fas.fa-user.circle
        .message-text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid officiis natus provident quidem omnis eveniet molestias sit, commodi repellat.
      .message
        .message-pic
          i.fas.fa-user.circle
        .message-text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid officiis natus provident quidem omnis eveniet molestias sit, commodi repellat.
      .message
        .message-pic
          i.fas.fa-user.circle
        .message-text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid officiis natus provident quidem omnis eveniet molestias sit, commodi repellat.
      .message
        .message-pic
          i.fas.fa-user.circle
        .message-text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid officiis natus provident quidem omnis eveniet molestias sit, commodi repellat.
      
      .message
        .message-pic
          i.fas.fa-user.circle
        .message-text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid officiis natus provident quidem omnis eveniet molestias sit, commodi repellat.
