//- ANCHOR -- Extends & Includes --
extends base

//- ANCHOR -- Header Block -- 
//- block append head
//- block append head
  link(rel='stylesheet' href='/css/login.css')

//- ANCHOR -- Content Block -- 

block content
  section.section-dashboard
    .container
        .dashboard.content
          .dashboard-menu
            .menu-account
              i.fas.fa-user-circle
              .account-info
                h6.account-info--title yummyfunnybunny
                h6.account-info--status Ready
            .menu-options
              //- button.btn BEGIN PLOWING
              ul 
                li
                  i.fas.fa-comments    
                  p Messages
                li 
                  i.fas.fa-exclamation-triangle    
                  p Alerts
                li 
                  i.fas.fa-snowplow   
                  p Your Jobs
                li 
                  i.fas.fa-map-marked-alt   
                  p Routes
                li 
                  i.fas.fa-search-location    
                  p Find Work 
                li  
                  i.fas.fa-cloud-showers-heavy  
                  p Weather
                li 
                  i.fas.fa-user-circle    
                  p Account
                li 
                  i.fas.fa-receipt    
                  p Payments
                li 
                  i.fas.fa-tools  
                  p Settings
          .dashboard-content
            //- h1.section-title.dashboard-title Title
            //- h3 Dashboard Content Will Go Here
            block dashboard-content
              .dashboard-alerts
                .alert
                  i.fas.fa-times-circle
                  .alert-picture
                    i.fas.fa-heart
                  .alert-info 
                    h4.alert-title Alert Title
                    .alert-message Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia corrupti et consequatur beatae asperiores vitae, perferendis dignissimos animi repellendus, id commodi esse harum corporis aliquam magnam voluptatum quisquam voluptates ut aut itaque? Iste autem quidem asperiores itaque rem sint.
                .alert
                  i.fas.fa-times-circle
                  .alert-picture
                    i.fas.fa-heart
                  .alert-info 
                    h4.alert-title Alert Title
                    .alert-message Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia corrupti et consequatur beatae asperiores vitae, perferendis dignissimos animi repellendus, id commodi esse harum corporis aliquam magnam voluptatum quisquam voluptates ut aut itaque? Iste autem quidem asperiores itaque rem sint.
                .alert
                  i.fas.fa-times-circle
                  .alert-picture
                    i.fas.fa-heart
                  .alert-info 
                    h4.alert-title Alert Title
                    .alert-message Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia corrupti et consequatur beatae asperiores vitae, perferendis dignissimos animi repellendus, id commodi esse harum corporis aliquam magnam voluptatum quisquam voluptates ut aut itaque? Iste autem quidem asperiores itaque rem sint.
                .alert
                  i.fas.fa-times-circle
                  .alert-picture
                    i.fas.fa-heart
                  .alert-info 
                    h4.alert-title Alert Title
                    .alert-message Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus officia corrupti et consequatur beatae asperiores vitae, perferendis dignissimos animi repellendus, id commodi esse harum corporis aliquam magnam voluptatum quisquam voluptates ut aut itaque? Iste autem quidem asperiores itaque rem sint.

            




















                
