//- ANCHOR -- Extends & Includes --
extends base

//- ANCHOR -- Block --
block content
    //- ============
    //- ANCHOR HERO
    //- ============
    section.section-hero
      .container
        .hero-highlights.content
          // content slider will go here
          h1 Content Slider Will Go Here
        .hero-extras.content
          .hero-account.element
            // your account info / login and signup button
           
            .account-info.sub-element
              //- NOT LOGGED-IN:
              h6 You are not logged in
              a.btn.hero-login Login
              a.btn.hero-login Signup
              a.forgot-password I Forgot My Password
              a.forgot-email I Forgot My Email
              //- LOGGED-IN:
              //- i.fas.fa-user-circle.sub-element
              //- h6 YummyFunnyBunny
              //- h6 Some Important Info
          .hero-weather.element
            // weather info goes here
            h1 Weather Info Goes Here
    //- ============
    //- ANCHOR FEATURES
    //- ============
    section.section-features
      .container
        .features.content
          .section-title.element
            h1 FEATURES
          .feature.element
            .feature-image.sub-element
              i.fas.fa-map-marked-alt
              // <h3>Feature Image Goes Here</h3>
            .feature-info.sub-element
              | Use our live map finder to locate and contact residents in need of
              | work, create routes, and set priority to customize your routes
          .feature.element
            .feature-info.sub-element
              | Rate the locations you service, or rate a plowers service
            .feature-image.sub-element
              i.fas.fa-star-half-alt
          .feature.element
            .feature-image.sub-element
              i.fas.fa-cloud-showers-heavy
            .feature-info.sub-element
              | Live weather updates keep you ready when you need to be
          .feature.element
            .feature-info.sub-element
              | Handle all transactions instantly, so you can get a move on
            .feature-image.sub-element
              i.fas.fa-money-check-alt
    //- ============
    //- ANCHOR Get Started
    //- ============
    section.section-get-started
      .container
        .get-started
          .section-title.element
            h1 Get Started
          .step.element
            .step-title
              | Step 1
              br
              | Create An Account
            .step-instructions
              | Creating an acount is easy and takes less than 5 minutes to set
              | up!
            .step-image
              i.fas.fa-user-circle
          .step.element
            .step-title.sub-element
              | Step 2
              br
              | Set your role
            .step-instructions.sub-element
              | Choose whether you are a resident looking for a plower, or a
              | plower looking for work!
            .step-image.sub-element
              i.fas.fa-snowplow
              i.fas.fa-arrows-alt-h
              i.fas.fa-house-user
          .step.element
            .step-title.sub-element
              | Step 3
              br
              | Find what you need!
            .step-instructions.sub-element
              | Immediately start looking for what you need using our live map
              | finder!
            .step-image.sub-element
              i.fas.fa-handshake
    //- ============
    //- ANCHOR Contact
    //- ============
    //- ============
    //- ANCHOR Footer
    //- ============
