//- ANCHOR -- Extends & Includes --
extends base

//- ANCHOR -- Block --
block content
    //- ============
    //- ANCHOR HERO
    //- ============
    section.section-hero
      .container
        .hero-carousel.content
          include _carousel
          //- h1 Content Slider Will Go Here
        .hero-extras.content
          .hero-account.element
            // your account info / login and signup button
           
              
            if user
              //- LOGGED-IN:
              .account--logged-in.sub-element
                a.account-portrait(href="/dashboard")
                  img(src=`/img/users/${user.photo}` alt=`photo of ${user.name}`)
                .hero-account-info
                  .account-name
                    span= user.name
                  .account-actions
                    .account-status
                      span= user.status
                    .logout
                      a.btn.logout-btn Logout
                .begin-work.btn
                  i.fas.fa-snowplow
                a.account-messages(href="/dashboard-messages")
                  i.fas.fa-comments
                a.account-alerts(href="/dashboard-alerts")
                  i.fas.fa-exclamation-triangle
                a.account-jobs(href="/dashboard-jobs")
                  i.fas.fa-snowplow
                a.account-find(href="/dashboard-find")
                  i.fas.fa-search-location
            
            else
              //- NOT LOGGED-IN:
              .account--logged-out.sub-element
                h3 You are not logged in
                .auth-buttons
                  a.btn.hero-login(href="/login") Login
                  a.btn.hero-login(href="/signup") Signup
                .reset-links
                  a.forgot-password I Forgot My Password
                  a.forgot-email I Forgot My Email

          .hero-weather.element
            // weather info goes here
            //- h1 Weather Info Goes Here
            .weather-location
              form.weather-form
                input.city-input(placeholder="city")
                //- input.state-input(placeholder="state")
                //- input.country-input(placeholder="Country")
                //- input.unit-input(placeholder="Unit")
                select.unit-input(placeholder="°F")
                  option(value="F") °F 
                  option(value="C") °C
                button.btn.submit-btn(type="submit") 
                  i.fas.fa-search
            .weather-daily
              .weather-icon
                img
              .weather-info
                .weather-description
                  h3 Scattered Clouds
                .weather-temp
                  .weather-temp--max
                    span.temp-label High 
                    spa.temp-temp 
                  .weather-temp--cur
                    span.temp-label Current 
                    spa.temp-temp 
                  .weather-temp--min
                    span.temp-label Low
                    spa.temp-temp 
              .weather-alerts
            //- .weather-forecast
            //-   .forecast1
            //-   .forecast2
            //-   .forecast3
            //-   .forecast4
    //- ============
    //- ANCHOR FEATURES
    //- ============
    section#features.section-features
      .container
        .features.content
          .section-title.element
            h1 FEATURES
          .feature.element
            .feature-image.sub-element
              i.fas.fa-map-marked-alt
              // <h3>Feature Image Goes Here</h3>
            .feature-info.sub-element
              | Use our live map finder to locate and contact residents in need of
              | work, create routes, and set priority to customize your routes
          .feature.element
            .feature-info.sub-element
              | Rate the locations you service, or rate a plowers service
            .feature-image.sub-element
              i.fas.fa-star-half-alt
          .feature.element
            .feature-image.sub-element
              i.fas.fa-cloud-showers-heavy
            .feature-info.sub-element
              | Live weather updates keep you ready when you need to be
          .feature.element
            .feature-info.sub-element
              | Handle all transactions instantly, so you can get a move on
            .feature-image.sub-element
              i.fas.fa-money-check-alt
    //- ============
    //- ANCHOR Get Started
    //- ============
    section#getStarted.section-get-started
      .container
        .get-started
          .section-title.element
            h1 Get Started
          .step.element
            .step-title
              | Step 1
              br
              | Create An Account
            .step-instructions
              | Creating an acount is easy and takes less than 5 minutes to set
              | up!
            .step-image
              i.fas.fa-user-circle
          .step.element
            .step-title.sub-element
              | Step 2
              br
              | Set your role
            .step-instructions.sub-element
              | Choose whether you are a resident looking for a plower, or a
              | plower looking for work!
            .step-image.sub-element
              i.fas.fa-snowplow
              i.fas.fa-arrows-alt-h
              i.fas.fa-house-user
          .step.element
            .step-title.sub-element
              | Step 3
              br
              | Find what you need!
            .step-instructions.sub-element
              | Immediately start looking for what you need using our live map
              | finder!
            .step-image.sub-element
              i.fas.fa-handshake
    //- ============
    //- ANCHOR Contact
    //- ============
    //- ============
    //- ANCHOR Footer
    //- ============
