<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Landing Page</title>
  </head>
  <body>
    <!-- ============ -->
    <!-- ANCHOR BACKGROUND -->
    <!-- ============ -->
    <div class="bg-circle1"></div>
    <div class="bg-circle2"></div>
    <!-- ============ -->
    <!-- ANCHOR NAVBAR -->
    <!-- ============ -->
    <section class="section-navbar">
      <div class="container">
        <!-- content -->
        <nav class="navbar content">
          <div class="nav-logo element">
            <i class="fas fa-snowplow company-logo sub-element"></i>
            <h3 class="company-title sub-element">uPlow</h3>
          </div>
          <div class="nav-links element">
            <a href="#" class="sub-element">Features</a>
            <a href="#" class="sub-element">Get Started</a>
            <a href="#" class="sub-element">About Us</a>
            <a href="#" class="sub-element">Contact</a>
          </div>
        </nav>
      </div>
    </section>
    <!-- ============ -->
    <!-- ANCHOR HERO -->
    <!-- ============ -->
    <section class="section-hero">
      <div class="container">
        <div class="hero-highlights content">
          <!-- content slider will go here -->
          <h1>Content Slider Will Go Here</h1>
        </div>
        <div class="hero-extras content">
          <div class="hero-account element">
            <!-- your account info / login and signup button -->
            <i class="fas fa-user-circle sub-element"></i>
            <div class="account-info sub-element">
              <h6>YummyFunnyBunny</h6>
              <h6>Some Important Info</h6>
            </div>
          </div>
          <div class="hero-weather element">
            <!-- weather info goes here -->
            <h1>Weather Info Goes Here</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- ============ -->
    <!-- ANCHOR FEATURES -->
    <!-- ============ -->
    <section class="section-features">
      <div class="container">
        <div class="features content">
          <div class="section-title element">
            <h1>FEATURES</h1>
          </div>
          <div class="feature element">
            <div class="feature-image sub-element">
              <i class="fas fa-map-marked-alt"></i>
              <!-- <h3>Feature Image Goes Here</h3> -->
            </div>
            <div class="feature-info sub-element">
              Use our live map finder to locate and contact residents in need of
              work, create routes, and set priority to customize your routes
            </div>
          </div>
          <div class="feature element">
            <div class="feature-info sub-element">
              Rate the locations you service, or rate a plowers service
            </div>
            <div class="feature-image sub-element">
              <i class="fas fa-star-half-alt"></i>
            </div>
          </div>
          <div class="feature element">
            <div class="feature-image sub-element">
              <i class="fas fa-cloud-showers-heavy"></i>
            </div>
            <div class="feature-info sub-element">
              Live weather updates keep you ready when you need to be
            </div>
          </div>
          <div class="feature element">
            <div class="feature-info sub-element">
              Handle all transactions instantly, so you can get a move on
            </div>
            <div class="feature-image sub-element">
              <i class="fas fa-money-check-alt"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ============ -->
    <!-- ANCHOR Get Started -->
    <!-- ============ -->
    <section class="section-get-started">
      <div class="container">
        <div class="get-started">
          <div class="section-title element">
            <h1>Get Started</h1>
          </div>
          <div class="step element">
            <div class="step-title">
              Step 1<br />
              Create An Account
            </div>
            <div class="step-instructions">
              Creating an acount is easy and takes less than 5 minutes to set
              up!
            </div>
            <div class="step-image"><i class="fas fa-user-circle"></i></div>
          </div>
          <div class="step element">
            <div class="step-title sub-element">
              Step 2<br />
              Set your role
            </div>
            <div class="step-instructions sub-element">
              Choose whether you are a resident looking for a plower, or a
              plower looking for work!
            </div>
            <div class="step-image sub-element">
              <i class="fas fa-snowplow"></i>
              <i class="fas fa-arrows-alt-h"></i>
              <i class="fas fa-house-user"></i>
            </div>
          </div>
          <div class="step element">
            <div class="step-title sub-element">
              Step 3<br />
              Find what you need!
            </div>
            <div class="step-instructions sub-element">
              Immediately start looking for what you need using our live map
              finder!
            </div>
            <div class="step-image sub-element">
              <i class="fas fa-handshake"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ============ -->
    <!-- ANCHOR Contact -->
    <!-- ============ -->

    <!-- ============ -->
    <!-- ANCHOR Footer -->
    <!-- ============ -->
  </body>
</html>
