//- ANCHOR -- Extends & Includes --
extends base

//- ANCHOR -- Header Block -- 
//- block append head
//- block append head
  link(rel='stylesheet' href='/css/login.css')

//- ANCHOR -- Content Block -- 

block content
  section.section-login
    .container
        .login.content
          form.login-form#loginForm()
            h1.section-title Login
            label.form-label Email
            input.form-input(placeholder="Email" type="text" name="" required maxlength="100")
            label.form-label Password
            input.form-input(placeholder="password" type="password" required minLength="8" maxLength='50')
            button.btn.form-submit Submit
          .login-links
            a.forgot-password(href="#") I Forgot My Password
            a.forgot-email(href="#") I Forgot My Email