//- ANCHOR -- Extends & Includes --
extends base

//- ANCHOR -- Header Block -- 
//- block append head
//- block append head
  link(rel='stylesheet' href='/css/login.css')

//- ANCHOR -- Content Block -- 

block content
  section.section-login
    .container
        .login.lvl1
          h1.section-title Login
          form#loginForm()
            div
              .labels 
                label Email
                label Password

              .inputs
                input#emailInput(placeholder="Email" type="text" name="" required maxlength="100")
                input#passwordInput(placeholder="password" type="password" required minLength="8" maxLength='50')
              
            button.btn2
              h4 Submit
          
          .login-links
            a.forgot-password(href="#") I Forgot My Password
            a.forgot-email(href="#") I Forgot My Email
          a.btn1(href="/") Back