//- ANCHOR -- Extends & Includes --
extends base

//- ANCHOR -- Header Block -- 
//- block append head
//- block append head
  link(rel='stylesheet' href='/css/signup.css')

//- ANCHOR -- Content Block -- 

block content
  section.section-login
    .container
        .login.lvl1
          h1.section-title signup
          form#signupForm()
            div
              .labels
                label.form-label Name
                label.form-label Email
                label.form-label Password
                label.form-label Confirm Password
                label.form-label Choose Your Role

              .inputs
                input#nameInput(placeholder="Name" type="text" name="" required maxlength="100")
                input#emailInput(placeholder="Email" type="text" name="" required maxlength="100")
                input#passwordInput(placeholder="password" type="password" required minLength="8" maxLength='50')
                input#passwordConfirmInput(placeholder="Confirm Password" type="password" required minLength="8" maxLength='50')
                select#roleSelect.form-select(name="form_select")
                  option(value="resident") Resident  
                  option(value="plower") Plower  
                  option(value="resident_plower") Resident and Plower  
            button.btn2 
              h4 Submit
          a.btn1(href="/") 
            h4 Back
          //- .signup-links
            //- a.forgot-password(href="#") I Forgot My Password
            //- a.forgot-email(href="#") I Forgot My Email