/*
=============== 
ANCHOR Dashboard
===============
*/
.section-dashboard .container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-height: 85%; */
  margin-top: 15vh;
}
.dashboard {
  display: flex;
  width: 100%;
  height: 95%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.dashboard-menu {
  flex: 1;
  padding: 1rem;
}
.menu-account {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.menu-options {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 100%;
  margin: 2rem 0;
}
.menu-options a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0.5rem;
}
.menu-options a i {
  font-size: 1.5rem;
  margin: 0.5rem 2rem;
}
.dashboard-content {
  flex: 3;
}
/*
=============== 
ANCHOR Messages
===============
*/
.dashboard-messages {
  display: flex;
  max-height: 100%;
}
.contacts-list {
  flex: 1;
  background: var(--color-bg1);
  backdrop-filter: blur(2rem);
  border-radius: var(--radius);
  /* border: 2px solid var(--color-dark-blue); */
  margin: 0 0.25rem 0 0.5rem;
  overflow: auto;
}
.contacts-list h3 {
  padding: 0.5rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background: var(--color-dark-blue);
  color: #fff;
}
.contact {
  border-bottom: 2px solid var(--color-dark-blue);
  border-left: 2px solid var(--color-dark-blue);
  border-right: 2px solid var(--color-dark-blue);
  display: flex;
  align-items: center;
  height: 5rem;
}
.contact:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.contact i {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--color-dark-blue);
  margin: 0.5rem;
}
.contact-details {
  flex: 3;
}
.last-message {
  font-size: 0.75rem;
  height: 2.5rem;
  overflow: hidden;
}

.messages {
  flex: 2;
  margin: 1rem 0.5rem 1rem 0.25rem;
  overflow: auto;
}
.message {
  display: flex;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}
.message:nth-child(even) {
  flex-direction: row-reverse;
}

.message-pic {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  background: var(--color-bg1);
  color: var(--color-dark-blue);
}
.message i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
.message-text {
  margin-left: 0.5rem;
  border-radius: var(--radius);
  background: var(--color-bg1);
  color: var(--color-dark-blue);
  font-weight: 500;
  padding: 0.25rem 1rem;
}
.message:nth-child(even) .message-text {
  margin-right: 0.5rem;
  margin-left: 0;
  background: var(--color-dark-blue);
  color: white;
}
.message:nth-child(even) .message-pic {
  background: var(--color-dark-blue);
  color: white;
}
/*
=============== 
ANCHOR ALERTS
===============
*/
.dashboard-alerts {
  margin: 1rem;
  overflow: auto;
  height: calc(100% - 2rem);
}
.alert {
  background: var(--color-bg1);
  border-radius: var(--radius);
  backdrop-filter: blur(2rem);
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.alert i.fa-times-circle {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2.5rem;
  color: var(--color-dark-blue);
}
.alert i.fa-times-circle:hover {
  cursor: pointer;
}
.alert-picture {
  flex: 1;
  border: 2px solid var(--color-dark-blue);
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
}
.alert-picture i {
  font-size: 6rem;
  color: var(--color-dark-blue);
}
.alert-info {
  flex: 3;
  margin: 1rem 1rem 1rem 0;
}
.alert-title {
  color: var(--color-dark-blue);
  font-size: 1.5rem;
}
.alert-message {
  color: var(--color-dark-blue);
}
/*
=============== 
ANCHOR Account
===============
*/
.dashboard-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-account h1 {
  margin-top: 2rem;
}
.dashboard-account form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.dashboard-account form div {
  display: flex;
}
.dashboard-account form#profilepic {
  flex-direction: column;
}
#profileInfo button,
#passwordResetForm button {
  padding: 1rem 3rem;
  font-size: 1.25rem;
}
#profileInfo .pic-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
#profileInfo .new-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
}
#profileInfo img {
  width: 10rem;
  height: 10rem;
}

/*
=============== 
ANCHOR Dashboard
===============
*/
.dashboard-main {
  height: 100%;
}
.grid-begin-work {
  grid-area: begin-work;
}
.grid-messages {
  grid-area: messages;
}
.grid-alerts {
  grid-area: alerts;
}
.grid-payments {
  grid-area: payments;
}
.grid-jobs {
  grid-area: jobs;
}
.grid-find {
  grid-area: find;
}
.grid-routes {
  grid-area: routes;
}
.grid-weather {
  grid-area: weather;
}
.grid-account {
  grid-area: account;
}
.grid-settings {
  grid-area: settings;
}
.grid {
  display: grid;
  padding: 2rem 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
    "begin-work begin-work"
    "messages alerts"
    "jobs find"
    "routes payments "
    "weather account "
    "settings empty";
}
.grid-item {
  border: 4px solid transparent;
}
.grid-item:hover {
  cursor: pointer;
  border: 4px solid var(--color-dark-blue);
  background-color: var(--color-dark-blue);
  color: #fff;
}
.grid-item:first-child {
  display: flex;
  justify-content: space-between;
}
.grid-item i {
  font-size: 2rem;
  border: 4px solid var(--color-dark-blue);
  height: 5rem;
  min-width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  margin: 0.5rem;
}
.grid-item div {
  margin: 0.5rem;
}
.grid-item div h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.grid-item div span {
  display: flex;
  flex-wrap: wrap;
}
/*
=============== 
ANCHOR Map
===============
*/
.map {
  height: 25rem;
  margin: 1rem;
  border-radius: var(--radius);
  border: 4px solid var(--color-dark-blue);
}
/*
=============== 
ANCHOR Map Items
===============
*/
.map-item {
  margin: 1rem;
  overflow: auto;
  height: calc(100% - 2rem);
}
.map-item {
  background: var(--color-bg1);
  border-radius: var(--radius);
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.top {
  display: flex;
  margin: 1rem;
  color: var(--color-dark-blue);
}
.top img:nth-child(1) {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
}
.meta-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 1rem;
}
.meta-info h1 {
  font-size: 2rem;
}
.meta-info div i {
  font-size: 1.5rem;
  margin: 1rem 0.25rem;
}
.owner-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.owner-info .prof-pic {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
}
.image-galery {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.image-galery img {
  border-radius: var(--radius);
}
.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  color: var(--color-dark-blue);
}
.notes ul {
  width: 75%;
}
.notes ul li {
  line-height: 1.5rem;
}
.actions {
  display: flex;
  justify-content: center;
}
.actions button {
  color: var(--color-dark-blue);
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  margin-left: 2rem;
}
.toggle-expand {
  border: none;
  background: var(--color-dark-blue);
  color: #fff;
  font-size: 1.5rem;
  padding: 0.25rem 0;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  margin-top: 1rem;
}
.toggle-expand:hover {
  cursor: pointer;
}
.hidden {
  display: none;
}
/*
=============== 
ANCHOR Find Work
===============
*/
