/*
=============== 
ANCHOR Dashboard
===============
*/
.section-dashboard {
  /* height: 100vh; */
}
.section-dashboard .container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-height: 85%; */
  margin-top: 15vh;
}
.dashboard {
  display: flex;
  background: var(--bg-glass1);
  backdrop-filter: blur(2rem);
  border-radius: var(--radius);
  width: 100%;
  height: 95%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.dashboard-menu {
  flex: 1;
  background: var(--bg-glass2);
  backdrop-filter: blur(2rem);
  border-radius: var(--radius);
  color: var(--color-text1);
}
.menu-account {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0 0 1rem;
}
.menu-account img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.account-info--status {
  border-radius: var(--radius);
  background: chartreuse;
  display: inline-block;
  padding: 0 1rem;
}
.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* .menu-options button {
  font-size: 1.25rem;
  width: auto;
  margin: 0.5rem;
  letter-spacing: 0.25rem;
} */
.menu-options ul {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 100%;
}
.menu-options ul li {
  font-family: inherit;
  padding: 0.75rem;
  list-style-type: none;
  width: 100%;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
}
.menu-options ul li:hover {
  border: 2px solid var(--color-text1);
}
.menu-options ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-options ul li i {
  font-size: 1.5rem;
  margin: 0 2rem;
}
.dashboard-content {
  flex: 3;
}
/*
=============== 
ANCHOR Messages
===============
*/
.dashboard-messages {
  display: flex;
  max-height: 100%;
}
.contacts-list {
  flex: 1;
  background: var(--bg-glass1);
  backdrop-filter: blur(2rem);
  border-radius: var(--radius);
  /* border: 2px solid var(--color-text1); */
  margin: 0 0.25rem 0 0.5rem;
  overflow: auto;
}
.contacts-list h3 {
  padding: 0.5rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background: var(--color-text1);
  color: #fff;
}
.contact {
  border-bottom: 2px solid var(--color-text1);
  border-left: 2px solid var(--color-text1);
  border-right: 2px solid var(--color-text1);
  display: flex;
  align-items: center;
  height: 5rem;
}
.contact:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.contact i {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid var(--color-text1);
  margin: 0.5rem;
}
.contact-details {
  flex: 3;
}
.last-message {
  font-size: 0.75rem;
  height: 2.5rem;
  overflow: hidden;
}

.messages {
  flex: 2;
  margin: 1rem 0.5rem 1rem 0.25rem;
  overflow: auto;
}
.message {
  display: flex;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}
.message:nth-child(even) {
  flex-direction: row-reverse;
}

.message-pic {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  background: var(--bg-glass2);
  color: var(--color-text1);
}
.message i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
.message-text {
  margin-left: 0.5rem;
  border-radius: var(--radius);
  background: var(--bg-glass2);
  color: var(--color-text1);
  font-weight: 500;
  padding: 0.25rem 1rem;
}
.message:nth-child(even) .message-text {
  margin-right: 0.5rem;
  margin-left: 0;
  background: var(--color-text1);
  color: white;
}
.message:nth-child(even) .message-pic {
  background: var(--color-text1);
  color: white;
}
.message p {
}
/*
=============== 
ANCHOR ALERTS
===============
*/
.dashboard-alerts {
  margin: 1rem;
  overflow: auto;
  height: calc(100% - 2rem);
}
.alert {
  background: var(--bg-glass1);
  border-radius: var(--radius);
  backdrop-filter: blur(2rem);
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.alert i.fa-times-circle {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2.5rem;
  color: var(--color-text1);
}
.alert i.fa-times-circle:hover {
  cursor: pointer;
}
.alert-picture {
  flex: 1;
  border: 2px solid var(--color-text1);
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
}
.alert-picture i {
  font-size: 6rem;
  color: var(--color-text1);
}
.alert-info {
  flex: 3;
  margin: 1rem 1rem 1rem 0;
}
.alert-title {
  color: var(--color-text1);
  font-size: 1.5rem;
}
.alert-message {
  color: var(--color-text1);
}
/*
=============== 
ANCHOR Account
===============
*/
.dashboard-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-account h1 {
  margin-top: 2rem;
}
.dashboard-account form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.dashboard-account form .info {
  display: flex;
}
.dashboard-account form#profilepic {
  flex-direction: column;
}
.dashboard-account form#passwordResetForm {
  flex-direction: row;
}
#profileInfo .pic-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
#profileInfo .new-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
}
#profileInfo img {
  width: 10rem;
  height: 10rem;
}
.dashboard-account form .labels,
.dashboard-account form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dashboard-account form .labels {
  margin-right: 1rem;
}
.dashboard-account form label,
.dashboard-account form input,
.dashboard-account form select {
  margin: 0.5rem 0;
}
/*
=============== 
ANCHOR Dashboard
===============
*/
.dashboard-main {
  height: 100%;
}
.grid-begin-work {
  grid-area: begin-work;
}
.grid-messages {
  grid-area: messages;
}
.grid-alerts {
  grid-area: alerts;
}
.grid-payments {
  grid-area: payments;
}
.grid-jobs {
  grid-area: jobs;
}
.grid-find {
  grid-area: find;
}
.grid-routes {
  grid-area: routes;
}
.grid-weather {
  grid-area: weather;
}
.grid-account {
  grid-area: account;
}
.grid-settings {
  grid-area: settings;
}
.grid {
  display: grid;
  padding: 2rem 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
    "begin-work begin-work"
    "messages alerts"
    "jobs find"
    "routes payments "
    "weather account "
    "settings empty";
}

.grid > * {
  display: flex;
  align-items: center;
  color: var(--color-text1);
  background: var(--bg-glass2);
  border-radius: var(--radius);
}
.grid-item {
  border: 4px solid transparent;
}
.grid-item:hover {
  cursor: pointer;
  border: 4px solid var(--color-text1);
  background-color: var(--color-text1);
  color: #fff;
}
.grid-item:first-child {
  display: flex;
  justify-content: space-between;
}
.grid-item i {
  font-size: 2rem;
  border: 4px solid var(--color-text1);
  height: 5rem;
  min-width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  margin: 0.5rem;
}
.grid-item div {
  margin: 0.5rem;
}
.grid-item div h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.grid-item div span {
  display: flex;
  flex-wrap: wrap;
}
/*
=============== 
ANCHOR Jobs
===============
*/
.dashboard-jobs {
  margin: 1rem;
  overflow: auto;
  height: calc(100% - 2rem);
}
.job {
  border: 1px solid green;
  background: var(--bg-glass1);
  border-radius: var(--radius);
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.top {
  display: flex;
  margin: 1rem;
  color: var(--color-text1);
}
.top img:nth-child(1) {
  border-radius: var(--radius);
}
.job-meta-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 1rem;
}
.job-meta-info h1 {
  font-size: 2rem;
  /* margin-left: 1rem; */
}
/* .job-meta-info div { */
/* } */
.job-meta-info div i {
  font-size: 1.5rem;
  margin: 1rem 0.25rem;
}
.job-owner-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.job-owner-info img {
  margin-right: 1rem;
}
.image-galery {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.image-galery img {
  border-radius: var(--radius);
}
