/*
=============== 
ANCHOR Login & Signup
===============
*/
.section-login {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
.section-login .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 75%;
  margin: 0.5rem 0 1rem;
  position: relative;
  padding: 1rem;
}

.login a.btn1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
}
.login button {
  font-size: 1.25rem;
  padding: 1rem 4rem;
}
.login-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.75rem;
  margin: 1rem 0;
}
