/*
=============== 
ANCHOR Login
===============
*/
.section-login {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
.section-login .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
}
.login {
  background: var(--bg-glass1);
  backdrop-filter: blur(2rem);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  position: relative;
}
.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-label {
  font-size: 1.5rem;
  color: var(--color-text1);
}
.form-input,
.form-select {
  border-radius: var(--radius);
  border: none;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0 2rem;
  font-size: 1rem;
}
.form-input:focus {
  outline: none;
}
.form-select {
}
.form-submit {
  font-size: 1.25rem;
  padding: 1rem 4rem;
  letter-spacing: 0.25rem;
  margin-bottom: 2rem;
}
.login-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.75rem;
  margin: 2rem 0;
}
.forgot-password {
}
.forgot-email {
}
