/*
=============== 
ANCHOR Notes
===============
*/
/*
Responsive Break-points:
1280+
960-1279
768-959
480-767
0-479
*/
/*
=============== 
ANCHOR Fonts
===============
*/

/*
=============== 
ANCHOR Variables
===============
*/
:root {
  /* colors */
  --color-dark-blue: #426696;
  --color-light-blue: #65dfc9;
  --color-white: #eee;
  --color-bg0: linear-gradient(
    to right top,
    rgba(101, 223, 201, 1),
    rgba(108, 219, 235, 1)
  ); /* background */
  --color-bg1: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  --color-bg2: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  --color-bg-green: linear-gradient(
    to right bottom,
    rgba(0, 255, 119, 0.9),
    rgba(46, 255, 144, 0.8)
  );
  --color-bg-red: linear-gradient(
    to right bottom,
    rgba(235, 77, 75, 0.9),
    rgba(235, 77, 75, 0.7)
  );
  --color-bg-yellow: linear-gradient(
    to right bottom,
    hsla(59, 80%, 61%, 0.9),
    hsla(59, 80%, 61%, 0.702)
  );
  /* misc */
  --radius: 2rem;
}
/*
=============== 
ANCHOR Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", san-serif;
}

body {
  background: var(--color-bg0);
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--color-dark-blue) var(--color-white); /* scroll thumb and track */
}

/* section */
section {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: var(--color-dark-blue);
}
/* center */
.container {
  width: 60%;
  height: 100%;
}
.section-title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: var(--color-dark-blue);
}
.hide {
  opacity: 0;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  background: var(--color-bg-green);
  padding: 0.25rem 1rem;
}
/* ANCHOR LEVELS */
.lvl1,
.lvl2 {
  color: var(--color-dark-blue);
  border-radius: var(--radius);
  backdrop-filter: blur(2rem);
}
.lvl1 {
  background: var(--color-bg1);
}
.lvl2 {
  background: var(--color-bg1);
}

/* ANCHOR BUTTONS */
button,
a {
  border-radius: var(--radius);
  border: none;
  text-decoration: none;
}
button:hover,
a:hover {
  cursor: pointer;
}
button:focus,
a {
  outline: none;
}
.btn1 {
  display: flex;
  align-items: center;
  color: var(--color-dark-blue);
  background: var(--color-bg1);
  border-radius: var(--radius);
  border: 4px solid transparent;
}
.btn1:hover {
  border: 4px solid var(--color-dark-blue);
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
.btn2 {
  background: var(--color-dark-blue);
  border: 4px solid var(--color-white);
  color: white;
}
.btn2:hover {
  background: white;
  color: var(--color-light-blue);
  border-color: var(--color-light-blue);
}
.btn3 {
  background: var(--color-bg0);
  border: 2px solid var(--color-dark-blue);
}
.btn3:hover {
  background: var(--color-dark-blue);
  color: var(--color-light-blue);
  border-color: var(--color-light-blue);
}
/* ANCHOR BACKGROUND */
.bg-circle1,
.bg-circle2 {
  background: var(--color-bg2);
  height: 20rem;
  width: 20rem;
  position: fixed;
  border-radius: 50%;
}
.bg-circle1 {
  top: 5%;
  right: 15%;
}

.bg-circle2 {
  bottom: 5%;
  left: 10%;
}
/* ANCHOR TOAST NOTIFICATIONS */
.toast {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: var(--color-white);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  transition: all 0.25s linear;
}
.toast--success {
  background: var(--color-bg-green);
}
.toast--error {
  background: var(--color-bg-red);
}
.toast--alert {
  background: var(--color-bg-yellow);
}
/* ANCHOR FORMS */
form {
  display: flex;
  flex-direction: column;
}
form div {
  display: flex;
  justify-content: center;
}
form label {
  font-size: 1.5rem;
  color: var(--color-dark-blue);
}

form input,
form select {
  border-radius: var(--radius);
  border: none;
  color: var(--color-dark-blue);
  padding: 0.25rem 1rem;
  font-weight: bold;
}
form input:focus {
  outline: none;
}
form .labels,
form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
form .labels {
  margin-right: 1rem;
}
form label,
form input,
form select {
  margin: 0.5rem 0;
}
form button {
  /* min-width: 10rem; */
  margin: 1rem auto;
}
/* ANCHOR -- Profile Pictures -- */
.prof-pic {
  height: 100%;
  border-radius: 50%;
  border: 4px solid var(--color-dark-blue);
}
.prof-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* ANCHOR MapBox */
.marker {
  background-size: cover;
  color: var(--color-dark-blue);
  font-size: 1.5rem;
  cursor: pointer;
}
/* .mapboxgl-popup, */
/* .mapboxgl-popup-anchor-bottom, */
/* .mapboxgl-popup-tip, */
.mapboxgl-popup-content {
  background: var(--color-dark-blue);
  color: var(--color-white);
  /* border-radius: var(--radius); */
}
/* ------- */
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: var(--color-dark-blue);
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: var(--color-dark-blue);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--color-dark-blue);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--color-dark-blue);
}
.mapboxgl-popup-close-button {
  color: var(--color-white);
  /* padding-right: 1rem; */
}
.mapbox-marker-selected {
  color: var(--color-light-blue);
}
/*
=============== 
ANCHOR Navbar
===============
*/
.navbar-section {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  z-index: 1;
}
.navbar-section .container {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0 0.5rem 0;
}
.nav-logo {
  display: flex;
  align-items: center;
  color: var(--color-dark-blue);
  font-weight: 600;
  text-decoration: none;
}
.nav-logo i {
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 50%;
  margin: 0 1rem;
  background: var(--color-bg2);
}
.nav-logo h3 {
  font-size: 2rem;
}
.nav-links {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.nav-links a {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

/*
=============== 
ANCHOR Hero
===============
*/
.hero-section {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  height: 85%;
}
.hero-carousel {
  flex: 2;
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  height: 100%;
  width: 300%;
  flex-shrink: 0;
}
.slider section {
  flex-basis: 20%;
  width: 20%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.slide--social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide--social-media a i {
  margin: 2rem 1rem;
  font-size: 3rem;
}
.arrow {
  height: 100%;
  width: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg2);
}
.arrow:hover {
  cursor: pointer;
}
.arrow i {
  font-size: 3rem;
}
.arrow.prev {
  left: 0;
}
.arrow.next {
  right: 0;
}
.controls ul {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  list-style-type: none;
  display: flex;
}
.controls ul li {
  border-radius: 50%;
  margin: 10px;
  width: 20px;
  height: 20px;
  border: 4px solid var(--color-dark-blue);
  background-color: var(--color-dark-blue);
}
.controls ul li.selected {
  background: transparent;
}
.hero-extras {
  flex: 1;
  display: flex;
  margin: 0.5rem 0 1rem 0;
}
.hero-account {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.account--logged-in .prof-pic {
  grid-area: accountPortrait;
}
.account-info {
  grid-area: accountInfo;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.logout a {
  padding: 0.25rem 1rem;
}
.account-info .row {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.account-messages {
  grid-area: accountMessages;
}
.account-alerts {
  grid-area: accountAlerts;
}
.account-jobs {
  grid-area: yourJobs;
}
.account-find {
  grid-area: findWork;
}

.begin-work,
.account-messages,
.account-alerts,
.account-jobs,
.account-find {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
.begin-work {
  grid-area: beginWork;
}
.account--logged-in {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  grid-template-areas:
    "accountPortrait accountInfo accountInfo beginWork"
    "accountMessages accountAlerts yourJobs findWork";
  width: 100%;
  padding: 0.5rem;
}
.account--logged-out {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.auth-buttons {
  display: flex;
}
.auth-buttons a {
  margin: 0.5rem;
  font-size: 1.25rem;
  padding: 1rem 3rem;
  letter-spacing: 0.25rem;
  text-decoration: none;
}
.reset-links {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.hero-weather {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}
.weather-daily {
  flex: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
}
.weather-icon {
  flex: 1;
}
.weather-icon img {
  border-radius: var(--radius);
  border: 4px solid var(--color-dark-blue);
}
.weather-info {
  flex: 3;
  flex-direction: column;
  padding: 0 1rem;
}
.weather-description {
  font-size: 1.25rem;
}
.weather-temp--max,
.weather-temp--cur,
.weather-temp--min {
  display: flex;
  justify-content: space-between;
  line-height: 1.25rem;
  width: 10rem;
}
.weather-temp--max,
.weather-temp--min {
  font-size: 0.75rem;
  font-weight: 100;
}
.weather-temp--cur {
  font-weight: 500;
  font-size: 1.25rem;
}
.weather-location {
  flex: 1;
  width: 100%;
}
.weather-form {
  flex-direction: row;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.weather-form input,
.weather-form select,
.weather-form button {
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  border-radius: var(--radius);
  border: none;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-dark-blue);
}
.city-input:focus,
.state-input:focus,
.unit-input:focus {
  outline: none;
}
.city-input {
  width: 18rem;
}
.unit-input {
  text-align: center;
  width: 4rem;
}
.submit-btn {
  width: 3rem;
  justify-content: center;
}
/*
=============== 
ANCHOR FEATURES
===============
*/
.features-section .container {
  display: flex;
  justify-content: center;
}
.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.feature {
  display: flex;
  height: 10rem;
  width: 100%;
  color: var(--color-dark-blue);
  margin: 1rem 0;
}
.feature:last-child {
  margin-bottom: 4rem;
}
.feature-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.feature-info {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/*
=============== 
ANCHOR Get Started
===============
*/
.get-started {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  background: var(--color-bg2);
  margin: 1rem;
  color: var(--color-dark-blue);
  height: 10rem;
  border-radius: var(--radius);
}

.step-title {
  flex: 1;
  text-align: center;
  padding: 1rem 0;
  margin: 0 1rem;
  font-weight: bold;
}
.step-instructions {
  flex: 3;
  margin: 0 1rem;
}
.step-image {
  flex: 1;
  text-align: center;
  font-size: 2.5rem;
  margin: 0 1rem;
}
.step:last-child {
  margin-bottom: 4rem;
}
