/*
=============== 
ANCHOR Notes
===============
*/
/*
Responsive Break-points:
1280+
960-1279
768-959
480-767
0-479
*/
/*
=============== 
ANCHOR Fonts
===============
*/

/*
=============== 
ANCHOR Variables
===============
*/
:root {
  /* colors */
  --color-text1: #426696;
  /* misc */
  --radius: 2rem;
  --bg-glass1: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  --bg-glass2: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  --bg-glass3: linear-gradient(
    to right bottom,
    rgba(32, 191, 107, 0.9),
    rgba(32, 191, 107, 0.7)
  );
  --bg-glass4: linear-gradient(
    to right bottom,
    rgba(235, 77, 75, 0.9),
    rgba(235, 77, 75, 0.7)
  );

  /* test-borders */
  /* --border-section: 1px solid red; */
  /* --border-center: 1px solid orange; */
  /* --border-content: 1px solid green; */
  /* --border-element: 1px solid purple; */
  /* --border-sub-element: 1px solid blue; */
}
/*
=============== 
ANCHOR Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", san-serif;
}

body {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #426696 white; /* scroll thumb and track */
}

/* section */
section {
  border: var(--border-section);
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: var(--color-text1);
}
/* center */
.container {
  border: var(--border-center);
  width: 60%;
  height: 100%;
}

/* content */
.content {
  border: var(--border-content);
}

/* Elements */
.element {
  border: var(--border-element);
}

.sub-element {
  border: var(--border-sub-element);
}
.section-title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: var(--color-text1);
}
.btn {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: var(--radius);
  color: white;
  /* padding: 1rem; */
  border: none;
  /* position: relative; */
}
.btn:hover {
  cursor: pointer;
}
.logout-btn {
  cursor: pointer;
}
/*
=============== 
ANCHOR BACKGROUND
===============
*/
.bg-circle1,
.bg-circle2 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: fixed;
  border-radius: 50%;
}
.bg-circle1 {
  top: 5%;
  right: 15%;
}

.bg-circle2 {
  bottom: 5%;
  left: 10%;
}
.toast {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.toast--success {
  background: var(--bg-glass3);
}
.toast--error {
  background: var(--bg-glass4);
}
/*
=============== 
ANCHOR Navbar
===============
*/
.section-navbar {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  z-index: 1;
}
.section-navbar .container {
  /* height: 100%; */
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0 0.5rem 0;
  border-radius: var(--radius);
  background: var(--bg-glass1);
  backdrop-filter: blur(2rem);
}
.nav-logo {
  display: flex;
  align-items: center;
  color: var(--color-text1);
  font-weight: 600;
  text-decoration: none;
}
.nav-logo i {
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 50%;
  margin: 0 1rem;
  background: var(--bg-glass2);
}
.nav-logo h3 {
  font-size: 2rem;
}
.nav-links {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.nav-links a {
  margin: 0.5rem;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  background: var(--bg-glass2);
  color: var(--color-text1);
  font-weight: 600;
}

/*
=============== 
ANCHOR Hero
===============
*/
.section-hero {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
.section-hero .container {
  display: flex;
  flex-direction: column;
  height: 85%;
}
.hero-carousel {
  flex: 2;
  border-radius: var(--radius);
  margin: 0.5rem 0;
  background: var(--bg-glass1);
  color: var(--color-text1);
  backdrop-filter: blur(2rem);
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  height: 100%;
  width: 300%;
  flex-shrink: 0;
}
.slider section {
  flex-basis: 20%;
  width: 20%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.slide--social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide--social-media a i {
  margin: 2rem 1rem;
  font-size: 3rem;
}
.arrow {
  height: 100%;
  width: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-glass2);
}
.arrow:hover {
  cursor: pointer;
}
.arrow i {
  font-size: 3rem;
  /* color: white; */
}
.arrow.prev {
  left: 0;
}
.arrow.next {
  right: 0;
}
.controls ul {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  list-style-type: none;
  display: flex;
}
.controls ul li {
  border-radius: 50%;
  margin: 10px;
  width: 20px;
  height: 20px;
  border: 4px solid var(--color-text1);
  background-color: var(--color-text1);
}
.controls ul li.selected {
  background: transparent;
}
.hero-extras {
  flex: 1;
  display: flex;
  margin: 0.5rem 0 1rem 0;
}
.hero-account {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  margin-right: 0.5rem;
  background: var(--bg-glass1);
  color: var(--color-text1);
  backdrop-filter: blur(2rem);
}
.account-portrait {
  grid-area: accountPortrait;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-portrait img {
  width: 100%;
  margin: 0.5rem;
  border-radius: 50%;
  border: 4px solid var(--color-text1);
}
.hero-account-info {
  grid-area: accountInfo;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.account-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.account-status {
  border-radius: var(--radius);
  background: chartreuse;
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
}
.logout a {
  padding: 0.25rem 1rem;
  /* margin-left: 1rem; */
}
.account-actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.account-messages {
  grid-area: accountMessages;
}
.account-alerts {
  grid-area: accountAlerts;
}
.account-jobs {
  grid-area: yourJobs;
}
.account-find {
  grid-area: findWork;
}

.begin-work,
.account-messages,
.account-alerts,
.account-jobs,
.account-find {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  border: 4px solid transparent;
  font-size: 2.5rem;
  transition: all 0.2s linear;
}
/* .begin-work:hover, */
.account-messages:hover,
.account-alerts:hover,
.account-jobs:hover,
.account-find:hover {
  cursor: pointer;
  border: 4px solid var(--color-text1);
}
.begin-work {
  grid-area: beginWork;
}
.account--logged-in {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  grid-template-areas:
    "accountPortrait accountInfo accountInfo beginWork"
    "accountMessages accountAlerts yourJobs findWork";
  width: 100%;
  padding: 0.5rem;
}
.auth-buttons a {
  margin: 0.5rem;
  font-size: 1.25rem;
  padding: 1rem 3rem;
  letter-spacing: 0.25rem;
  text-decoration: none;
}
.reset-links {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.account--logged-out {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero-weather {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  margin-left: 0.5rem;
  background: var(--bg-glass1);
  color: var(--color-text1);
  backdrop-filter: blur(2rem);
}
.weather-daily {
  flex: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid red;
}
.weather-icon {
  flex: 1;
}
.weather-icon img {
  border-radius: var(--radius);
  border: 4px solid var(--color-text1);
  /* width: 100%; */
  /* height: 100%; */
}
.weather-info {
  flex: 3;
  flex-direction: column;
  padding: 0 1rem;
}
.weather-description {
  font-size: 1.25rem;
}
.weather-temp--max,
.weather-temp--cur,
.weather-temp--min {
  display: flex;
  justify-content: space-between;
  line-height: 1.25rem;
  width: 10rem;
}
.weather-temp--max,
.weather-temp--min {
  font-size: 0.75rem;
  font-weight: 100;
}
.weather-temp--cur {
  font-weight: 500;
  font-size: 1.25rem;
}
/* .weather-alerts {
  flex: 1;
} */
.weather-location {
  /* display: flex; */
  /* align-items: center; */
  flex: 1;
  width: 100%;
}
.weather-form {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.weather-form input,
.weather-form select,
.weather-form button {
  padding: 0.5rem 0.5rem;
  border-radius: var(--radius);
  border: none;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-text1);
}
.city-input:focus,
.state-input:focus,
.unit-input:focus {
  outline: none;
}
.city-input {
  width: 18rem;
}
/* .state-input {
  text-align: center;
  width: 3rem;
} */
/* .country-input {
  text-align: center;
  width: 3rem;
} */
.unit-input {
  text-align: center;
  width: 4rem;
}
.submit-btn {
  width: 3rem;
}
.submit-btn:hover {
  cursor: pointer;
}
/*
=============== 
ANCHOR FEATURES
===============
*/
.section-features .container {
  display: flex;
  justify-content: center;
}
.features {
  width: 100%;
  border-radius: var(--radius);
  background: var(--bg-glass1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  backdrop-filter: blur(2rem);
}
.feature {
  display: flex;
  height: 10rem;
  width: 100%;
  color: var(--color-text1);
  margin: 1rem 0;
}
.feature:last-child {
  margin-bottom: 4rem;
}
.feature-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.feature-info {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/*
=============== 
ANCHOR Get Started
===============
*/
.section-get-started {
}
.section-get-started .container {
}
.get-started {
  margin: 1rem 0;
  border-radius: var(--radius);
  background: var(--bg-glass1);
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(2rem);
}
.step {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /* font-family: inherit; */
  font-weight: 500;
  background: var(--bg-glass2);
  margin: 1rem;
  color: var(--color-text1);
  height: 10rem;
  border-radius: var(--radius);
}

.step-title {
  flex: 1;
  text-align: center;
  padding: 1rem 0;
  margin: 0 1rem;
  font-weight: bold;
}
.step-instructions {
  flex: 3;
  margin: 0 1rem;
}
.step-image {
  flex: 1;
  text-align: center;
  font-size: 2.5rem;
  margin: 0 1rem;
}
.step:last-child {
  margin-bottom: 4rem;
}
