/*
=============== 
ANCHOR Notes
===============
*/
/*
Responsive Break-points:
1280+
960-1279
768-959
480-767
0-479
*/
/*
=============== 
ANCHOR Fonts
===============
*/

/*
=============== 
ANCHOR Variables
===============
*/
:root {
  /* colors */
  --color-text1: #426696;
  /* misc */
  --radius: 2rem;
  --bg-glass1: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  --bg-glass2: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );

  /* test-borders */
  /* --border-section: 1px solid red; */
  /* --border-center: 1px solid orange; */
  /* --border-content: 1px solid green; */
  /* --border-element: 1px solid purple; */
  /* --border-sub-element: 1px solid blue; */
}
/*
=============== 
ANCHOR Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", san-serif;
}

body {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #426696 white; /* scroll thumb and track */
}

/* section */
section {
  border: var(--border-section);
  display: flex;
  justify-content: center;
}

/* center */
.container {
  border: var(--border-center);
  width: 60%;
  height: 100%;
}

/* content */
.content {
  border: var(--border-content);
}

/* Elements */
.element {
  border: var(--border-element);
}

.sub-element {
  border: var(--border-sub-element);
}
.section-title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: var(--color-text1);
}
.btn {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: var(--radius);
  color: white;
  padding: 1rem;
  border: none;
  /* position: relative; */
}
.btn:hover {
  cursor: pointer;
}
/*
=============== 
ANCHOR BACKGROUND
===============
*/
.bg-circle1,
.bg-circle2 {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: fixed;
  border-radius: 50%;
}
.bg-circle1 {
  top: 5%;
  right: 15%;
}

.bg-circle2 {
  bottom: 5%;
  left: 10%;
}
/*
=============== 
ANCHOR Navbar
===============
*/
.section-navbar {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  z-index: 1;
}
.section-navbar .container {
  /* height: 100%; */
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0 0.5rem 0;
  border-radius: var(--radius);
  background: var(--bg-glass1);
  backdrop-filter: blur(2rem);
}
.nav-logo {
  display: flex;
  align-items: center;
  color: var(--color-text1);
  font-weight: 600;
}
.nav-logo i {
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 50%;
  margin: 0 1rem;
  background: var(--bg-glass2);
}
.nav-logo h3 {
  font-size: 2rem;
}
.nav-links {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.nav-links a {
  margin: 0.5rem;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  background: var(--bg-glass2);
  color: var(--color-text1);
  font-weight: 600;
}

/*
=============== 
ANCHOR Hero
===============
*/
.section-hero {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
.section-hero .container {
  display: flex;
  flex-direction: column;
  height: 85%;
}
.hero-highlights {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  margin: 0.5rem 0;
  background: var(--bg-glass1);
  color: var(--color-text1);
  backdrop-filter: blur(2rem);
}
.hero-extras {
  flex: 1;
  display: flex;
  margin: 0.5rem 0 1rem 0;
}
.hero-account {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  margin-right: 0.5rem;
  background: var(--bg-glass1);
  color: var(--color-text1);
  backdrop-filter: blur(2rem);
}
.hero-weather {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  margin-left: 0.5rem;
  background: var(--bg-glass1);
  color: var(--color-text1);
  backdrop-filter: blur(2rem);
}
/*
=============== 
ANCHOR FEATURES
===============
*/
.section-features .container {
  display: flex;
  justify-content: center;
}
.features {
  width: 100%;
  border-radius: var(--radius);
  background: var(--bg-glass1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  backdrop-filter: blur(2rem);
}
.feature {
  display: flex;
  height: 10rem;
  width: 100%;
  color: var(--color-text1);
  margin: 1rem 0;
}
.feature:last-child {
  margin-bottom: 4rem;
}
.feature-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.feature-info {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/*
=============== 
ANCHOR Get Started
===============
*/
.section-get-started {
}
.section-get-started .container {
}
.get-started {
  margin: 1rem 0;
  border-radius: var(--radius);
  background: var(--bg-glass1);
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(2rem);
}
.step {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /* font-family: inherit; */
  font-weight: 500;
  background: var(--bg-glass2);
  margin: 1rem;
  color: var(--color-text1);
  height: 10rem;
  border-radius: var(--radius);
}

.step-title {
  flex: 1;
  text-align: center;
  padding: 1rem 0;
  margin: 0 1rem;
  font-weight: bold;
}
.step-instructions {
  flex: 3;
  margin: 0 1rem;
}
.step-image {
  flex: 1;
  text-align: center;
  font-size: 2.5rem;
  margin: 0 1rem;
}
.step:last-child {
  margin-bottom: 4rem;
}
